.inputIcon__container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.inputIcon__container.secondary  .pesquisa__icon{
    border: 1px solid var(--cinza);
}

.pesquisa__icon{
    width: 80px;

    background-color: white;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.pesquisa__icon.secondary{
    border: 1px solid var(--cinza-escuro);
}

.pesquisa__icon:hover{
    background-color: var(--red);
}

.pesquisa__icon:hover *{
    color: white;
}

.pesquisa__icon-item{
    width: 50px;
    margin-left: 20px;

    transition: all ease-in 0.2s;
}
.pesquisa__icon-item:hover{
    transform-origin: center;
    transform: rotate(180deg);
    cursor: pointer;
}

.pesquisa__icon-item:hover *{
    font-size: 40px;
    color: "red";
}