#header{
    position: relative;
}
.hedaer__container{
    width: 80%;

    padding: 70px 0;
    margin: auto;

    position: relative;
}

.lista__container > li:not(:last-of-type){
    margin-right: 50px;
}

.lista__container li a,.icon__lista li a{
    cursor: pointer;
}

.nav-lista__item{
    font-size: 20px;
}

.nav-lista__item.ativado{
    color: var(--laranja);
    position: relative;
}

.nav-lista__item.ativado::after{
    display: block;
    content: "";

    width: 100%;
    height: 3px;
    margin-top: 5px;

    border-radius: 15px;
    background-color: var(--laranja);
}

.icon__lista > li:not(:last-of-type){
    margin-right: 25px;
}

.header__pesquisa{
    width: 100%;
    padding: 50px;

    background-color: var(--cinza);

    top: 0;
    position: absolute;
}

.pesquisa_fullWidth{
    color: white;
    background-color: white;
}

.pesquisa__form{
    width: 40%;
    margin: auto;
}

.icon__lista li:last-of-type{
    display: none;
}

@media screen and (max-width: 1020px){

    .hedaer__container{
        justify-content: space-between;
    }

   .header__nav{
        display: none;
        width: 100%;
        height: max-content;

        left: 50%;
        bottom: -200%;

        background-color: #2d394b;
        transform: translateX(-50%);
        position: absolute;

        z-index: 1;
    }

    .header__nav.ativado{
        display: block;
    }

    .lista__container{
        flex-direction: column;
    }

    .lista__container > li:hover{
        background-color: rgba(255, 255, 255, 0.151);
        
    }

    .lista__container > li:not(:last-of-type){
        margin: 0;
        border: 0.2px solid white;
    }

    .nav-lista__item{
        display: block;
        width: 100%;
        padding: 20px 40px;
    }

    .nav-lista__item.ativado, .nav-lista__item{
        color: white;

    }

    .nav-lista__item.ativado::after{
        display: none;
    }

    .icon__lista li:last-of-type{
        display: block;
    }

}

@media screen and (max-width: 1200px) {
    .pesquisa__form{
        width: 60%;
    }
}

@media screen and (max-width: 640px){

    .header__icon .icon__lista li:first-of-type{
        display: none;
    }

    .header__pesquisa{
        display: none;
    }
}
